@import "variable";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  color: $black-color;
}

.main-title {
  font-weight: normal;
  margin-bottom: 1rem;
}

.second-title {
  font-weight: normal;
  margin-bottom: 1rem;
}
.card {
  padding: 1rem;
  margin: 0 auto;
  max-width: 500px;
  background: $light-color;
  display: flex;
  flex-direction: column;
  border: solid 1px $divider;

  &:first-child {
    border-bottom: none;
  }
  #new-task {
    display: flex;
    flex-direction: column;
  }
  .card-task {
    display: flex;
    justify-content: space-between;
    background: white;
    border: solid 1px $divider;

    padding: 0.7rem 2rem 0.7rem 1rem;

    .remove {
      color: $secondary-color;
      transition: all 0.3s ease;

      &:hover {
        transform: rotate(-70deg);
      }
    }
  }
}
